<h2>お知らせ</h2>
<ul>
  <% @notifications.each do |notification| %>
  <hr>
    <li>
      <% if notification.read == true %>
        <span class="read-label">既読</span>
      <% else %>
        <p class="unread-label">未読</p>
      <% end %>
      <p>
        <%= notification.comment.user.try(:name) %>さんが
        あなたのブログ <%= link_to "#{notification.comment.blog.title}", blog_path(notification.comment.blog, notification_id: notification.id), class: 'btn btn-primary btn-xs' %> にコメントしました。
      </p>
      <p><%= notification.created_at.strftime('%y年%m月%d日 %H:%M') %></p>
    </li>
  <% end %>
</ul>
