<div class="container">
  <h2>ユーザー一覧</h2>
  <% @users.each do |user| %>
    <div class="container-child follow-container col-md-2 col-sm-4 col-xs-6">
      <%= profile_img(user) %>
      <%= link_to user.name, user_path(user), class: 'btn btn-xs btn-warning btn-block' %>
      <%= user.email %>
      <%= render 'follow_form', user: user %>
    </div>
  <% end %>
</div>
